
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: 0;
}

body{
    font-family: sans-serif;

}
a{
    text-decoration: none;
    color: white;
}
body{
    background-image: linear-gradient(to right, rgba(79,51,176,1),#ac3099);
}



.container{
    height: 70vh;
    width: 100vw;
    display: grid;
    place-items: center;
    align-self: center;
}


